*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
.DS_Store
._.DS_Store
.vs
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
packages/
App_Data/
bower_components/
node_modules/
Umbraco.Deploy.UI.Client/build/
build/_BuildOutput/
build/UmbracoDeploy.*
build/msbuild.log
build/tools/node.js.*
build/tools/node*.7z
build/tools/nuget.exe
Umbraco.Deploy.UI.Client/test/coverage
*.orig
/Umbraco.Deploy.UI.Client/gulp/userconf.js
/Umbraco.Deploy.UI.Client/.vscode/settings.json
.idea
MigrationBackup/
